.icon_image{
    height: 25px;
    width: 90%;
}
.header{
    height: 50px;
    width: 100%;
   
    margin-left: 2%;
}
.header>h3{
    font-weight: bolder;
    
}
.row-0{
    height: 35px;
}

/* this is row1 css */
.row1{
    border: 2px solid red;
    /* position: relative; */
    height: 234px;
}
.bo>img{
    height: 230px;
    width: 200%;
  
}
.bo{
    left: -15px;
}
.pos{
    left: 38px;
}
.pos1{
    left: 91px;
}
.pos2{
    left: 148px;
}
.pos3{
    left: 209px;
}
.pos4{
    left:262px;
}
.pos5{
    left: 314px;
}
.pos6{
    left: 365px;
}
/* this is 2 row section */
.row2{
    border: 2px solid red;
    height: 170px;
}
.row2>img{
    height: 133px;
    width: 86%;
}

/* this is row3 section */
.row3{
    /* border: 2px solid red; */
   
}
.row3-img{
    /* border: 2px solid blue; */
    padding: 0% 0%;
    width: 10%;
}
.row3-img>img{
    height: 140px;
    width: 100%;
}

/* this is row4 */
.row4{
    /* border: 2px solid black; */
    position: relative;
}
.row4-img{
    padding: 0% 0%;
    width: 10%;
}
.row4-img>img{
    height: 140px;
    width: 100%;
}

/* this is row5 section */
.row5>img{
    height: 140px;
    width: 100%;
}

/* this is row6 section */

.row6{
    height: 207px;
    border: 2px solid red;
}
.row6-img{
    padding: 0% 0%;
    width: 12%;
}
.row6-img>img{
    height: 200px;
    width: 106%;
}
.pos6-0{
    position: absolute;
    left: 0%;
}
.pos6-1{
    position: absolute;
    left: 13%;
}
.pos6-2{
    position: absolute;
    left: 25%;
}
.pos6-3{
    position: absolute;
    left: 37%;
}
.pos6-4{
    position: absolute;
    left: 49%;
}
.pos6-5{
    position: absolute;
    left: 62%;
}
.pos6-6{
    position: absolute;
    left: 75%;
}
.pos6-7{
    position: absolute;
    left: 87%;
}

/* this isn row7 section */
.row7{
    border: 2px solid red;
    height: 203px;
}
.row7-img{
    padding: 0% 0%;
    width: 12%;
}
.row7-img>img{
    height: 200px;
    width: 106%;
}
.pos7-0{
    position: absolute;
    left: 0%;
} 
.pos7-1{
    position: absolute;
    left: 13%;
}
.pos7-2{
    position: absolute;
    left: 25%;
}
.pos7-3{
    position: absolute;
    left: 37%;
}
.pos7-4{
    position: absolute;
    left: 49%;
}
.pos7-5{
    position: absolute;
    left: 62%;
}
.pos7-6{
    position: absolute;
    left: 75%;
}
.pos7-7{
    position: absolute;
    left: 87%;
}
/* this is row8 section */
.row8>img{
    height: 145px;
    width: 100%;
}
/* this is row 9 section */
.row9{
    border: 2px solid blue;
    position: relative;
    height: 209px;
}
.row9-img{
    padding: 0% 0%;
    width: 12%;
}
.row9-img>img{
    height: 205px;
    width: 106%;
}
.pos9-0{
    position: absolute;
    left: 0%;
}
.pos9-1{
    position: absolute;
    left: 13%;
}
.pos9-2{
    position: absolute;
    left: 25%;
}
.pos9-3{
    position: absolute;
    left: 37%;
}
.pos9-4{
    position: absolute;
    left: 49%;
}
.pos9-5{
    position: absolute;
    left: 62%;
}
.pos9-6{
    position: absolute;
    left: 75%;
}
.pos9-7{
    position: absolute;
    left: 87%;
}

/* this is row10 section */
.row10{
    position: relative;
    border: 2px solid red;
    height: 209px;
}
.row10-img{
    padding: 0% 0%;
    width: 12%;
}
.row10-img>img{
    height: 205px;
    width: 106%;
}
.pos10-0{
    position: absolute;
    left: 0%;
}
.pos10-1{
    position: absolute;
    left: 13%;
}
.pos10-2{
    position: absolute;
    left: 25%;
}
.pos10-3{
    position: absolute;
    left: 37%;
}
.pos10-4{
    position: absolute;
    left: 49%;
}
.pos10-5{
    position: absolute;
    left: 62%;
}
.pos10-6{
    position: absolute;
    left: 75%;
}
.pos10-7{
    position: absolute;
    left: 87%;
}

/* this is row11 */
.row11>img{
    height: 110px;
    width: 100%;
    padding: 0% 0%;
}

/* this is row12 section */
.row12{
    padding: 0% 0%;
    position: relative;
    height: 300px;
   
}
.row12-img>img{
    height: 280px;
    width: 280%;
}
.pos12-0{
    position: absolute;
    left: 7px;
}
.pos12-1{
    position: absolute;
    left: 225px;
}
.pos12-2{
    position: absolute;
    right: 745px;
}
.pos12-3{
    position: absolute;
    right: 530px;
}
.pos12-4{
    position: absolute;
    right: 311px;
}
.pos12-5{
    position: absolute;
    right: 93px;
}   

/* this is row13 */
.row13{
    padding: 0% 0%;
    position: relative;
    height: 300px;
    background-color: #ffffff;
}
.row13-img>img{
    height: 280px;
    width: 280%;
}
.pos13-0{
    position: absolute;
    left: 7px;
}
.pos13-1{
    position: absolute;
    left: 225px;
}
.pos13-2{
    position: absolute;
    right: 745px;
}
.pos13-3{
    position: absolute;
    right: 530px;
}
.pos13-4{
    position: absolute;
    right: 311px;
}
.pos13-5{
    position: absolute;
    right: 93px;
}  

/* this is row14 */
.row14{
    padding: 0% 0%;
    position: relative;
    height: 300px;
    background-color: #ffffff;
}
.row14-img>img{
    height: 280px;
    width: 280%;
}
.pos14-0{
    position: absolute;
    left: 7px;
}
.pos14-1{
    position: absolute;
    left: 225px;
}
.pos14-2{
    position: absolute;
    right: 745px;
}
.pos14-3{
    position: absolute;
    right: 530px;
}
.pos14-4{
    position: absolute;
    right: 311px;
}
.pos14-5{
    position: absolute;
    right: 93px;
}  

/* this is row15 */
.row15{
    padding: 0% 0%;
    position: relative;
    height: 300px;
    background-color: #ffffff;
}
.row15-img>img{
    height: 280px;
    width: 280%;
}
.pos15-0{
    position: absolute;
    left: 7px;
}
.pos15-1{
    position: absolute;
    left: 225px;
}
.pos15-2{
    position: absolute;
    right: 745px;
}
.pos15-3{
    position: absolute;
    right: 530px;
}
.pos15-4{
    position: absolute;
    right: 311px;
}
.pos15-5{
    position: absolute;
    right: 93px;
}  
/* this is row16 */
.row16{
    padding: 0% 0%;
    position: relative;
    height: 300px;
    background-color: #ffffff;
}
.row16-img>img{
    height: 280px;
    width: 280%;
}
.pos16-0{
    position: absolute;
    left: 7px;
}
.pos16-1{
    position: absolute;
    left: 225px;
}
.pos16-2{
    position: absolute;
    right: 745px;
}
.pos16-3{
    position: absolute;
    right: 530px;
}
.pos16-4{
    position: absolute;
    right: 311px;
}
.pos16-5{
    position: absolute;
    right: 93px;
}  
/* this is row17 */
.row17{
    padding: 0% 0%;
    position: relative;
    height: 300px;
    background-color: #ffffff;
}
.row17-img>img{
    height: 280px;
    width: 280%;
}
.pos17-0{
    position: absolute;
    left: 225px;
}
.pos17-1{
    position: absolute;
    right: 745px;
}
.pos17-2{
    position: absolute;
    right: 530px;
}
.pos17-3{
    position: absolute;
    right: 311px;
}
/* this is footer row */
.footer-row{
    height: 400px;
    border: 2px solid green;
    position: relative;
    background-color: #bfc4c949;
}
.fot-col{
    padding-left: 80px;
    /* border: 2px solid blue; */
    height: 400px;
    width: 20%;
   
}
.fot-col-2{
    height: 350px;
    border: 2px solid blue;
    width: 20%;
}
.fot-col-3{
    height: 350px;
    width: 30%;
    border: 2px solid blue;
}
.fot-col-4{
    height: 350px;
    width: 30%;
    border: 2px solid blue;
}
.span1>a{
    text-decoration: none;
    color:black;
    padding-top: 1%;
}
.list{
    margin-top: 30px;
}   
.list>li{
    list-style-type: none;
    margin-top: 18%;
    color: black;
    font-weight: bold;   
}
.list>li>a{
    text-decoration: none;
    color: #0d10127a;
}
