.icon_image{
    height: 25px;
    width: 90%;
}
.header{
    height: 50px;
    width: 100%;
   
    margin-left: 2%;
}
.header>h3{
    font-weight: bolder;
    
}

/* this is row1 css */
.row1{
    border: 2px solid red;
    position: relative;
    height: 234px;
}
.bo>img{
    height: 230px;
    width: 200%;
  
}
.bo{
    left: -15px;
}
.pos{
    left: 38px;
}
.pos1{
    left: 91px;
}
.pos2{
    left: 148px;
}
.pos3{
    left: 209px;
}
.pos4{
    left:262px;
}
.pos5{
    left: 314px;
}
.pos6{
    left: 365px;
}
/* this is 2 row section */
.row2{
    /* border: 2px solid red */
}
.row2>img{
    height: 150px;
    width: 100%;
}

/* this is row3 section */
.row3{
    /* border: 2px solid red; */
   
}
.row3-img{
    /* border: 2px solid blue; */
    padding: 0% 0%;
    width: 10%;
}
.row3-img>img{
    height: 140px;
    width: 100%;
}

/* this is row4 */
.row4{
    /* border: 2px solid black; */
    position: relative;
}
.row4-img{
    padding: 0% 0%;
    width: 10%;
}
.row4-img>img{
    height: 140px;
    width: 100%;
}

/* this is row5 section */
.row5>img{
    height: 140px;
    width: 100%;
}

/* this is row6 section */

.row6{
    height: 207px;
    border: 2px solid red;
}
.row6-img{
    padding: 0% 0%;
    width: 12%;
}
.row6-img>img{
    height: 200px;
    width: 106%;
}
.pos6-0{
    position: absolute;
    left: 0%;
}
.pos6-1{
    position: absolute;
    left: 13%;
}
.pos6-2{
    position: absolute;
    left: 25%;
}
.pos6-3{
    position: absolute;
    left: 37%;
}
.pos6-4{
    position: absolute;
    left: 49%;
}
.pos6-5{
    position: absolute;
    left: 62%;
}
.pos6-6{
    position: absolute;
    left: 75%;
}
.pos6-7{
    position: absolute;
    left: 87%;
}

/* this isn row7 section */
.row7{
    border: 2px solid red;
    height: 203px;
}
.row7-img{
    padding: 0% 0%;
    width: 12%;
}
.row7-img>img{
    height: 200px;
    width: 106%;
}
.pos7-0{
    position: absolute;
    left: 0%;
} 
.pos7-1{
    position: absolute;
    left: 13%;
}
.pos7-2{
    position: absolute;
    left: 25%;
}
.pos7-3{
    position: absolute;
    left: 37%;
}
.pos7-4{
    position: absolute;
    left: 49%;
}
.pos7-5{
    position: absolute;
    left: 62%;
}
.pos7-6{
    position: absolute;
    left: 75%;
}
.pos7-7{
    position: absolute;
    left: 87%;
}
/* this is row8 section */
.row8>img{
    height: 145px;
    width: 100%;
}
/* this is row 9 section */
.row9{
    border: 2px solid blue;
    position: relative;
    height: 209px;
}
.row9-img{
    padding: 0% 0%;
    width: 12%;
}
.row9-img>img{
    height: 205px;
    width: 106%;
}
.pos9-0{
    position: absolute;
    left: 0%;
}
.pos9-1{
    position: absolute;
    left: 13%;
}
.pos9-2{
    position: absolute;
    left: 25%;
}
.pos9-3{
    position: absolute;
    left: 37%;
}
.pos9-4{
    position: absolute;
    left: 49%;
}
.pos9-5{
    position: absolute;
    left: 62%;
}
.pos9-6{
    position: absolute;
    left: 75%;
}
.pos9-7{
    position: absolute;
    left: 87%;
}

/* this is row10 section */
.row10{
    position: relative;
    border: 2px solid red;
    height: 209px;
}
.row10-img{
    padding: 0% 0%;
    width: 12%;
}
.row10-img>img{
    height: 205px;
    width: 106%;
}
.pos10-0{
    position: absolute;
    left: 0%;
}
.pos10-1{
    position: absolute;
    left: 13%;
}
.pos10-2{
    position: absolute;
    left: 25%;
}
.pos10-3{
    position: absolute;
    left: 37%;
}
.pos10-4{
    position: absolute;
    left: 49%;
}
.pos10-5{
    position: absolute;
    left: 62%;
}
.pos10-6{
    position: absolute;
    left: 75%;
}
.pos10-7{
    position: absolute;
    left: 87%;
}

/* this is row11 */
.row11>img{
    height: 110px;
    width: 100%;
    padding: 0% 0%;
}

/* this is row12 section */
.row12{
    padding: 0% 0%;
    position: relative;
   
}
.row12-img>img{
    height: 280px;
    width: 300%;
}
.pos12-0{
    position: absolute;
    left: -5%;
}
.pos12-1{
    position: absolute;
    left: 13%;
}
.pos12-2{
    position: absolute;
    right: 60%;
}
.pos12-3{
    position: absolute;
    right: 42%;
}
.pos12-4{
    position: absolute;
    right: 24%;
}
.pos12-5{
    position: absolute;
    right: 6%;
}